/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

.grid-containers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "nav nav"
    "posts posts"
    "footer footer";
}

.posts-container {
  grid-area: posts;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(180px, 300px);
  grid-template-areas:
    "one two"
    "three four"
    "five six";
}

.post {
  display: flex;
  flex-direction: column;
}

.post .info {
  flex-grow: 1;
}

.footer-container {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
}
