.content,
.side-info {
  margin: 16px;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "nav nav"
    "content side"
    "footer footer";
}

.share {
  display: flex;
  flex-direction: column;
}

footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  grid-area: content;
}

.side-info {
  grid-area: side;
}
