@import "layout.css";
@import "blog.css";
@import "navbar.css";

img {
  display: block;
}

.post-image .article-image {
  margin: 0px;
  padding: 0px;
}

figure.post-image figcaption {
  text-align: left;
  padding-top: 6px;
  padding-left: 10px;
  font-size: 14px;
  width: 290px;
  height: 28px;
  background-color: black;
  color: aliceblue;
}

figure.article-image {
  text-align: center;
  text-indent: 0;
}

figure.article-image figcaption {
  text-align: left;
  padding-top: 6px;
  padding-left: 10px;
  font-size: 14px;
  width: 450px;
  height: 28px;
  background-color: black;
  color: aliceblue;
}

.grid-containers,
.nav-container,
.posts-container,
.footer-container {
  margin: 16px;
}

.posts-container {
  grid-gap: 16px;
}

.subscribe,
.search {
  color: gray;
}

.post .post-title {
  font-family: Verdana, Geneva, sans-serif;
  margin: 0;
  margin-top: 8px;
}

.post a {
  color: rgb(10, 84, 243);
  margin: 0;
}

.tag {
  color: turquoise;
  margin: 0;
}

.post .date {
  font-size: small;
  color: lightslategray;
  margin: 0;
}

.post {
  outline: 3px lightgrey solid;
  padding: 16px;
}
